USE [SEDI_0000]
GO
/****** Object:  StoredProcedure [dbo].[SPR_COPIAR_ORDENACAO_OUTRO_DB]    Script Date: 08/01/2013 23:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE NAME = 'SPR_COPIAR_ORDENACAO_OUTRO_DB')
   DROP PROCEDURE SPR_COPIAR_ORDENACAO_OUTRO_DB
GO

CREATE PROCEDURE [dbo].[SPR_COPIAR_ORDENACAO_OUTRO_DB]
	@DBCOPIADO AS VARCHAR(10)
AS

SET NOCOUNT ON

DECLARE @SSQL AS VARCHAR(2000)

--ZERA AS VARIAVEIS ANTES PARA NAO TER REPETIDO/DUPLICADO
UPDATE QUESTSAIDA SET CT_SAIDA = 0, POS_SAIDA = 0, TAM_SAIDA = 0

--ATUALIZA CONFORME PRACA TRIMESTRE ANTERIOR
SET @SSQL = 'UPDATE QUESTSAIDA ' + 
			'SET CT_SAIDA = ANTERIOR.CT_SAIDA, POS_SAIDA = ANTERIOR.POS_SAIDA, TAM_SAIDA = ANTERIOR.TAM_SAIDA ' + 
					' FROM QUESTSAIDA ATUAL, SEDI_' + @DBCOPIADO + '..QUESTSAIDA ANTERIOR ' + 
					' WHERE ATUAL.MNEO = ANTERIOR.MNEO '
--PRINT @SSQL
EXECUTE (@SSQL)

--ATUALIZA CT_SAIDA DOS REGISTROS QUE ESTÃO COM TAM_SAIDA = 0
SET @SSQL = ' UPDATE QUESTSAIDA ' + 
			' SET CT_SAIDA = 1, TAM_SAIDA = TAM_RESP WHERE TAM_SAIDA = 0'
--PRINT @SSQL
EXECUTE (@SSQL)


-- EXECUTAR ATUALIZA_POS_SAIDA.SQL
DECLARE @LPOS_SAIDA INT
DECLARE @MAIORNUM INT
DECLARE @MNEO VARCHAR(50)
DECLARE @TAM_SAIDA INT

SELECT @MAIORNUM = MAX(POS_SAIDA + TAM_SAIDA) FROM QUESTSAIDA

DECLARE QUESTSAIDA_CURSO CURSOR FOR 

    SELECT MNEO, TAM_SAIDA FROM QUESTSAIDA WHERE POS_SAIDA = 0  ORDER BY MNEO

		OPEN QUESTSAIDA_CURSO
		FETCH NEXT FROM QUESTSAIDA_CURSO INTO @MNEO, @TAM_SAIDA
			WHILE @@FETCH_STATUS = 0
			BEGIN
				UPDATE QUESTSAIDA SET POS_SAIDA = @MAIORNUM WHERE MNEO = @MNEO
				SET @MAIORNUM = @MAIORNUM + @TAM_SAIDA
				FETCH NEXT FROM QUESTSAIDA_CURSO INTO @MNEO, @TAM_SAIDA
   			END

		CLOSE QUESTSAIDA_CURSO
		DEALLOCATE QUESTSAIDA_CURSO


---------------------------------------------------------

--PRIMEIRO ZERA O CAMPO ORDERMSAIDA PARA NÃO DUPLICAR
UPDATE QUESTSAIDA SET ORDEMSAIDA = 0

--ADULTO ORDEMSAIDA COM O BANCO QUE ESTÁ SENDO COPIADO
SET @SSQL = 'UPDATE QUESTSAIDA SET ORDEMSAIDA = ANTERIOR.ORDEMSAIDA ' +
	  ' FROM QUESTSAIDA ATUAL, SEDI_' + @DBCOPIADO + '..QUESTSAIDA ANTERIOR ' +
	  ' WHERE ATUAL.MNEO = ANTERIOR.MNEO '
--PRINT @SSQL
EXECUTE (@SSQL)

SELECT @MAIORNUM = MAX(ORDEMSAIDA + 1) FROM QUESTSAIDA

DECLARE QUESTSAIDA_CURSO CURSOR FOR 

    SELECT MNEO FROM QUESTSAIDA WHERE ORDEMSAIDA = 0  ORDER BY MNEO

		OPEN QUESTSAIDA_CURSO
		FETCH NEXT FROM QUESTSAIDA_CURSO INTO @MNEO
			WHILE @@FETCH_STATUS = 0
			BEGIN
				UPDATE QUESTSAIDA SET ORDEMSAIDA = @MAIORNUM WHERE MNEO = @MNEO
				SET @MAIORNUM = @MAIORNUM + 1
				FETCH NEXT FROM QUESTSAIDA_CURSO INTO @MNEO
   			END

		CLOSE QUESTSAIDA_CURSO
		DEALLOCATE QUESTSAIDA_CURSO



SET ANSI_NULLS OFF
